.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $color-primary;
  text-align: center;
}

.footer_nav {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 0;
}

.footer_nav > li > a {
  text-decoration: none;
  color: $color-link;
}

.footer_nav > li > a:hover {
  text-decoration: none;
  color: $color-primary-light;
}
