@font-face {
  font-family: Basetica;
  src: url("base/BASETICA/Basetica-Med.otf") format("opentype"); }

* {
  box-sizing: border-box; }

html,
body {
  overflow: scroll;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1.1;
  font-family: 'Basetica', sans-serif;
  font-display: optional;
  color: #00424a;
  letter-spacing: .05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #064b4f;
  padding-top: 4rem; }

.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #d1d6d0;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.header {
  width: 100%;
  height: 4rem;
  background: #d1d6d0;
  position: fixed;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  flex: 1;
  top: 0;
  transition: top 0.2s ease-in-out; }

.header__icon,
.header__wordmark {
  fill: #00424a;
  height: 2rem;
  top: 1rem; }

.header__icon {
  position: absolute;
  right: 1rem; }

.header__wordmark-container {
  box-sizing: content-box; }

.header__wordmark {
  display: block;
  position: relative;
  height: 2.55rem;
  margin: auto; }

.header_openNav {
  position: absolute;
  top: .75rem;
  left: .75rem;
  height: 2.5rem;
  fill: #00424a;
  cursor: pointer; }

.header__navbar {
  position: absolute;
  top: 0;
  left: -66vw;
  width: 66vw;
  height: 100vh;
  background-color: #d1d6d0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  transition: all .5s ease; }

.nav__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 1rem;
  fill: #00424a;
  cursor: pointer; }

.nav__list {
  list-style: none;
  padding: 1rem;
  margin: 1rem; }
  .nav__list > li > * {
    text-decoration: none; }

.nav__is-active {
  font-weight: bold;
  color: white; }

#banner {
  height: 4rem;
  background-color: white; }

@keyframes disappear {
  to {
    height: 0;
    width: 0; } }

@keyframes fade-out {
  to {
    opacity: 0;
    top: -100vh; } }

.mark {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00424a;
  z-index: 40000; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill-it {
  to {
    fill: #064b4f;
    stroke-width: 0; } }

.home__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 4rem;
  width: 3rem;
  fill: transparent; }
  .home__icon > .vertical_bar_left,
  .home__icon > .vertical_bar_right,
  .home__icon > .horizontal_bar {
    stroke-width: 0.5px;
    stroke: #376e72;
    animation: dash 1s ease-in-out forwards, fill-it 1.5s 1s ease forwards; }
  .home__icon > .vertical_bar_left,
  .home__icon > .vertical_bar_right {
    stroke-dasharray: 132;
    stroke-dashoffset: 132; }
  .home__icon > .horizontal_bar {
    stroke-dasharray: 176;
    stroke-dashoffset: 176; }

.product_pic_selector {
  display: grid;
  grid-template-columns: 75% 22%;
  grid-gap: 3%; }

.product_img {
  width: 100%;
  align-self: center; }

.product_pic_list {
  display: flex;
  margin: 0;
  padding: 0;
  display: subgrid;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; }

.product_title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem; }

.label {
  font-weight: bold;
  margin-top: 1rem; }

.swatch {
  width: 100%;
  cursor: pointer; }

.color_swatch_list {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  vertical-align: middle; }

.color_swatch_li {
  list-style: none;
  padding-right: .66rem; }

.color_swatch {
  height: 2rem;
  width: 2rem; }

.pdp_dropdown {
  margin: 1rem auto;
  height: 2rem;
  width: 100%;
  outline: none;
  border-radius: 0;
  border: 0;
  font-family: Basetica;
  padding: 0 .5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.add_to_cart {
  border: none;
  text-transform: uppercase;
  height: 2rem; }

.pd_list_link {
  text-decoration: none;
  color: #00424a; }

.pd_list_item {
  display: flex; }

.pd_list_item_info {
  margin: 1rem;
  margin-top: .33rem; }

.pd_list_item__image {
  height: 128px; }
