////////////
// Colors //
////////////
// Brand Colors
$color-blue-grass: #00424a;
$color-vermillion: #cd2d2c;
$color-slate: #d1d6d0;
$color-navy: #063057;
// Product Colors
$color-product-soft: #54b8a5;
$color-product-cool: #a86e9b;
$color-product-light: #9eaab2;
$color-product-light-darker: #61717c;
$color-product-move: #dc5664;
$color-product-warm: #f7ba56;
// Site Colors
$color-primary: #00424a;
$color-primary-light: #064b4f;
$color-link: #587679;
$color-accent: #b73d31;
$color-accent-dark: #9b2e29;
// Grey Colors
$color-grey: #ddd;
$color-grey-light: #f5f5f5;
$color-grey-text: #808080;
$color-grey-dark: #4d4d4d;
// Misc Colors
$black: #000;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.7);
$shadow-light: rgba(0, 0, 0, 0.3);


////////////
// styles //
////////////
$big-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
0 2px 9px 1px rgba(0, 0, 0, 0.12),
0 4px 2px -2px rgba(0, 0, 0, 0.2);

$small-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.2),
0 1px 5px 0 rgba(0, 0, 0, 0.12);